<div class="logo-container" (click)="setCurrentCategory()">
    <span class="supermarket-title"><img src="../../../../assets/Icons/grocery-cart.png" alt="" srcset=""></span>
    <span class="supermarket-title super-title">Super</span>
    <span class="supermarket-title market-title">Market</span>
</div>
<div class="search-container">
    <form class="control has-icons-left has-icons-right ">
        <i><img class="search-icon" src="../../../../assets/Icons/magnifying-glass.png"></i>
        <input class="input is-rounded is-info is-hovered is-large" type="text" src="../../../../assets/Icons/magnifying-glass.png" placeholder="Search..." value="" (input)="setFilterProducts($event.target)">
    </form>
</div>


<div class="login-container">
    <div *ngIf="loggedUser.username" class="loggedUserContainer">
        <div class="user-side">
            <img src="../../../../assets/Icons/profile.png" class="person-icon" alt="loading">
            <span class="helloUser">Hello {{loggedUser.firstName}}</span>
        </div>
        <div class="loggedUserButtonsContainer">
            <a href="/orders-history" class="loggedUserButtons orders-navigation-button">Orders</a> &nbsp; &nbsp;
            <span *ngIf="loggedUser.role =='admin'" class="loggedUserButtons" (click)="navigateToAdminPage()">admin</span> &nbsp; &nbsp;
            <span (click)="logout()" class="loggedUserButtons">Logout</span>
        </div>
    </div>
    <img *ngIf="!loggedUser.username" src="../../../../assets/Icons/log-in.png" routerLink="/signin" class="login-buttons" alt="loading">
    <img *ngIf="!loggedUser.username" src="../../../../assets/Icons/signup.png" routerLink="/signup" class="login-buttons" alt="loading">
</div>