<div class="admin-navbar">
    <br>
    <h1 class="welcome-admin-header">Welcome Admin</h1>
    <div class="nav-buttons">
        <a class="nav-button" href="/home">Home Page</a>
        <a class="nav-button" href="/admin">Admin Dash</a>
    </div>
    <hr>
</div>
<div class="signup-container">
    <h3 class="headline">Update Product</h3>
    <hr>
    <form #productForm="ngForm" class="input-container">
        <input class="is-info signup-inupt is-large input" type="text" placeholder={{product.productName}}
            value={{product.productName}} name="productName" ngModel><br>
        <input class="is-info signup-inupt is-large input" type="number" placeholder={{product.price}} value={{product.price}} name="price"
            ngModel><br>
        <select class="is-info signup-inupt is-large select" name="categoryName" ngModel>
            <option class="is-info signup-inupt is-large select" value="">
                {{product.categoryId.categoryName}}</option>
            <option class="is-info signup-inupt is-large select" *ngFor="let category of categories"
                value={{category._id}}>{{category.categoryName}}
            </option>
        </select><br>
        <input class="is-info signup-inupt is-large input" type="file" name="productImage" ngModel><br>
        <button class="button is-link is-light is-large signup-inupt signup-button" type="submit"
            (click)="updateProduct(productForm)">Update Product</button>
    </form>
</div>