<div class="admin-navbar">
    <br>
    <h1 class="welcome-admin-header">Welcome Admin</h1>
    <div class="nav-buttons">
        <a class="nav-button" href="/home">Home Page</a>
        <a class="nav-button" href="/admin">Admin Dash</a>
    </div>
    <hr>
</div>
<div class="signup-container">
    <h3 class="headline">New Product</h3>
    <hr>
    <form #productForm="ngForm" action="/profile" class="input-container" enctype="multipart/form-data" method="post">
        <input class="is-info signup-inupt is-large input" type="text" placeholder="product name" name="productName" ngModel><br>
        <input class="is-info signup-inupt is-large input" type="number" placeholder="price" name="price" ngModel><br>
        <select class="is-info signup-inupt is-large select" name="categoryId" ngModel>
            <option value="">select category</option>
            <option class="is-info signup-inupt is-large select" *ngFor="let category of categories"
                value={{category._id}}>{{category.categoryName}}
            </option>
        </select><br>

        <input class="is-info signup-inupt is-large input " type="file" (change)="sendFile($event)" name="image" ngModel><br>
        <button class="button is-link is-light is-large signup-inupt signup-button" type="submit" (click)="createNewProduct(productForm)">Create New Product</button>
    </form>
</div>