.product-card {
    width: 15vw;
    height: 32vh;
    font-family: 'Roboto Mono', monospace;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-image {
    width: 100%;
    height: 0%;
}

.card-footer {
    background: rgb(63, 94, 251);
    color: white;
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: larger;
}

.effect-underline:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.70s;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

.effect-underline:hover:after {
    opacity: 0.3;
    -webkit-transform: scale(1);
    transform: scale(1);
}